<div class="room-container">
    <h2>Cadastro de Quartos</h2>
    <form ng-submit="addRoom()">
        <label for="ala">Ala:</label>
        <input type="text" id="ala" ng-model="newRoom.ala" required>

        <label for="leitos">Quantidade de leitos:</label>
        <input type="number" id="leitos" ng-model="newRoom.leitos" min="1" required>

        <label for="especialidade">Especialidade:</label>
        <input type="text" id="especialidade" ng-model="newRoom.especialidade" required>

        <button type="submit">Cadastrar</button>
    </form>

    <hr>

    <h3>Resumo dos Quartos</h3>
    <ul>
        <li>Total de quartos: {{ rooms.length }}</li>
        <li>Quartos livres: {{ getFreeRooms().length }}</li>
        <li>Quartos ocupados: {{ getOccupiedRooms().length }}</li>
    </ul>

    <h4>Quartos ocupados por especialidade:</h4>
    <ul>
        <li ng-repeat="(esp, qtd) in occupiedBySpecialty">
            {{ esp }}: {{ qtd }}
        </li>
    </ul>

    <hr>

    <h3>Quartos com leitos disponíveis</h3>
    <ul>
        <li ng-repeat="room in getFreeRooms()">
            Ala: {{ room.ala }} | Especialidade: {{ room.especialidade }} |
            Leitos livres: {{ room.leitos - room.ocupados }} /
            {{ room.leitos }}
            <button ng-click="ocuparLeito(room)" ng-disabled="room.ocupados >= room.leitos">Ocupar leito</button>
            <button ng-click="liberarLeito(room)" ng-disabled="room.ocupados <= 0">Liberar leito</button>
        </li>
    </ul>
</div>