<div class="room-container">
    <h2>Cadastro de Quartos</h2>
    <form ng-submit="addRoom()">
        <label for="codigo">Código do Quarto:</label>
        <input type="text" id="codigo" ng-model="newRoom.deCodigo" required>

        <label for="wing">Ala:</label>
        <input type="number" id="wing" ng-model="newRoom.cdHWing" required>

        <label for="beds">Quantidade de leitos:</label>
        <input type="number" id="beds" ng-model="newRoom.nuBed" min="1" required>

        <button type="submit">Cadastrar</button>
    </form>

    <hr>

        <h3>Resumo dos Quartos por especialidade</h3>
            <select id="roomspecialty" ng-model="specialty" ng-change="getNuRoomBySpecialty(specialty)" required>
                    <option value="" disabled>Selecione para visualizar</option>
                    <option ng-repeat="esp in specialties" ng-value="esp.cdSpecialty">{{esp.deName}}</option>
            </select>
        <ul>
            <li>Total de quartos: {{ nuRoomDTO.totalRoom }}</li>
            <li>Quartos livres: {{ nuRoomDTO.freeRoom }}</li>
            <li>Quartos ocupados: {{ nuRoomDTO.budyRoom }}</li>
        </ul>

    <hr>

        <h3>Quartos Livres:</h3>
        <ul>
            <li ng-repeat="room in freeRooms">
                Código: {{ room.deCode }} | Ala: {{ room.cdHWing }}
                <button ng-click="editRoom(room.cdRoom)">Editar</button>
                <button ng-click="removeRoom(room.cdRoom)">Remover</button>
            </li>
        </ul>
        
    <hr>
</div>